@page "/ItemCreator"
@using System.Diagnostics
@using TestBlazor.Services
@using Attribute = System.Attribute
<app>
    @rendermode InteractiveServer
</app>
<header>
    <h1>Item Generator</h1>
    <p>Easily create new item suggestions</p>
</header>
<div class="container">
    <div class="horizontal-layout">
        <div>
            <p>Item Name</p>
            <input class="input-field"@bind="_itemName"/>
            <p>Item Description</p>
            <textarea class="text-input" rows="5" @bind="_itemDescription"></textarea>
        </div>
        <div>
            <p>File Upload</p>
            <p><InputFile OnChange="OnFileSelected"/></p>
            @if (!string.IsNullOrEmpty(_imageUrl))
            {
                <img src="@_imageUrl" alt="Uploaded Image" style="max-width: 100%; max-height: 400px;"/>
            }
        </div>
    </div>
    <p>Item Attributes</p>
    <button class="btn-primary" @onclick="() => AddDropDown()">Add an extra item stat</button>
    
    @foreach (DropDownModel dropDown in dropDownMenus)
    {
        <p>
            <select class="dropdown-items" @bind="dropDown.Attribute">
                @foreach (string attri in _itemManager.ItemAttributes)
                {
                    <option value="@attri">@attri</option>
                }
            </select>
            <input class="input-field" @bind="dropDown.AttributeValue"/>
        </p>
    }
    <div>
        <button class="btn-primary" @onclick="()=>AddItem()">Add Item</button>
    </div>
</div>
<div class="horizontal-layout">
    @if (_itemManager.Items.Count > 0)
    {
        <div>
        @foreach (Item item in _itemManager.Items)
        {
            <p>@item.Name</p>
            <p>@item.Description</p>
            <img src="@item.ImageUrl" alt="Uploaded Image" style="max-width: 100%; max-height: 400px;"/>
            foreach (ItemAttribute attri in item.Attributes)
            {
                <p>@attri.Value  @attri.Name</p>
            }
        }
        </div>
    }
</div>

@code {

    ItemManager _itemManager = new ItemManager();

    List<DropDownModel> dropDownMenus = new List<DropDownModel>();
    
    private string _imageUrl = string.Empty;
    private string _itemName = string.Empty;
    private string _itemDescription = string.Empty;

    void AddDropDown()
    {
        dropDownMenus.Add(new DropDownModel());
    }

    public class DropDownModel
    {
        public string Attribute { get; set; } = string.Empty;
        public float AttributeValue { get; set; }
    }


    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File; 
        using var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        _imageUrl = $"data:{file.ContentType};base64,{Convert.ToBase64String(stream.ToArray())}";
    }

    private void AddItem()
    {
        List<ItemAttribute> attributes = new List<ItemAttribute>();
        foreach (DropDownModel dropDown in dropDownMenus)
        {
            ItemAttribute itemAttribute = new ItemAttribute(dropDown.Attribute, dropDown.AttributeValue);
            attributes.Add(itemAttribute);
        }
        Item item = new Item(_itemName, _itemDescription, _imageUrl, attributes);
        _itemManager.Items.Add(item);
    }
}